

.as{
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.background{
    height: 300px;
    width: 280px;
    border-radius: 10%;
    border: 1px solid rgb(11, 10, 10);
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 3px #344c64;
    cursor: pointer;
    transition: all .5s;
    font-size: 2rem;
    margin: 15px
}
.background:hover{
    background-color: rgb(87, 166, 161);
    transform: scale(1.1) ;
}
.background i{
    font-size: 200px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}
 p{
    font-size: 20px;
    text-align: center;
}
